*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size:2rem;
}
button{
    padding: 10px;
}
input{
    padding: 10px;
}